.movie-item {
  width: 100%;
  min-height: 10rem;
  display: grid;
  border: 2px black solid;
  margin-bottom: 2rem;
  display: flex;
}

.item-film:hover {
  scale: 1.005;
  background-color: rgb(219, 219, 219);
}

.item-poster {
  height: 100%;
  width: 7.2rem;
  object-fit: cover;
}

.index-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 3rem;
}

.poster-sec {
  width: 10rem;
}

.desc-sec {
  width: 80%;
  height: 100%;
}

/* .desc-sec>h1 {
  width: 100%;
  margin-top: 0.5rem;
  height: 4rem;
}

.desc-sec>h3 {
  width: 100%;
  height: 3rem;
}

.desc-sec>h4 {
  width: 100%;
  height: 2rem;
} */

.rating-sec {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: end;
}

.star-image {
  height: 3rem;
  width: auto;
}

.ocena-tekst {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-right: 2rem;
  line-height: 3rem;
}