.film-container {
  margin: auto;
  width: 80%;
  min-height: 100%;
  border: 3px #3d3d3d solid;
  background-color: white;
  padding: 2rem;
  border-radius: 3rem;

}

.movie-poster {
  height: 20rem;
  width: auto;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.movie-data-grid {
  display: grid;
  grid-template-columns: minmax(100px, 150px) minmax(150px, 300px);
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.grid-item {
  background-color: #eaeaea;
  padding: 20px;
}

.rating-container {
  display: flex;
  flex-wrap: wrap;
}

.movie-data-container {
  flex: 1;
}

.data-container {
  float: right;
}

.admin-buttons {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.image-container {
  border: 1px solid black;
}

.id-describe {
  color: #999999;
  float: right;
}

.movie-describtion-container {
  margin-top: 1rem;
}

.movie-describtion {
  font-size: large;
}

#commenterContent {
  min-height: 108px;
}

.comment-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #dbdbdb;
  margin-bottom: .5rem;
  padding: .3rem;
  border-radius: 1rem;
}
.comment-body > p {
  margin-top: 1rem;
}

.comment-author {
  padding-left: 1rem;
  width: 30%;
  min-width: 380px;
}

.comment-content {
  padding-left: 1rem;
  width: 70%;
}

.comment-body span{
  font-weight: bold;
}