.film-container {
  margin: auto;
  width: 80%;
  height: 100%;
  border: 3px #3d3d3d solid;
  background-color: white;
  padding: 2rem;
  border-radius: 3rem;

}

.movie-poster {
  height: 20rem;
  width: auto;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.parametry-filmu {
  display: grid;
  grid-template-columns: minmax(100px, 150px) minmax(150px, 300px);
  grid-template-rows: 100px 100px;
  gap: 10px;
}

.grid-item {
  background-color: #eaeaea;
  padding: 20px;
}

.rating-container {
  display: flex;
  flex-wrap: wrap;

}

.movie-data-container {
  flex: 1;
}

.data-container {
  float: right;
}

.admin-buttons {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.image-container {
  border: 1px solid black;
}

.id-describe{
  color: #999999;
  float: right;
}